div.container{
height:250px;
overflow:auto;
border-radius:7px;
}
td.dashboard_cell{
width:30%;
vertical-align:top;
}
.CloseButton{
float:right;
background:#090932;
color:#ADD8E6;
padding-left:2px;
padding-right:2px;
border-radius:17px;
cursor:pointer;
}
table.DashboardTable{
max-width:100%;
width:99%;
margin-top:3%;
}