header {
background:#CFCFCF;
padding:10px;
}
header #Info {
display:inline;
padding:10px;
}
header #Info img {
padding-right:7px;
width:32px;
height:32px;
vertical-align:middle;
}
header #Info a {
}
#ActionIcon {
display:inline;
float:right;
padding-left:10px;
padding-right:5px;
padding-bottom:2px;
margin-top:-5px;
font-weight:bold;
color:white;
height:28px;
object-fit: contain;
cursor:pointer;
}
header #ActionIcon img{
padding-right:7px;
height:32px;
width:32px;
}
header #ExitIcon {
display:inline;
float:right;
padding-left:10px;
padding-right:30px;
}
header #ExitIcon img {
width:32px;
height:32px;
}
header .FontSize {
font-weight:bold;
display:inline;
padding:3px;
color:#4D4D4D;
}
.ThemeChanger{
position:absolute;
right:10%;
}
.ScriptTitle {
font-weight:bold;
font-size:100%;
display:inline;
padding:10px;
}
.Themes {
font-size:80%;
}
#favourites {
background: url(images/descending.png) no-repeat right #CFCFCF;
background-size:contain;
overflow: hidden;
color:#4D4D4D;
font-size: 70%;
font-weight:bold;
padding-top: 2px;
padding-bottom: 2px;
padding-left: 7px;
padding-right:32px;
border: solid 1px #4D4D4D;
border-radius: 4px;
margin: 2px;
-moz-appearance:none;
-webkit-appearance: none;
cursor:pointer;
}
.title_bar {
border-radius:13px;
font-size:150%;
font-weight:bold;
color:#1A1A1A;
margin:1px;
margin-bottom:5px;
padding:6px;
background:#C3C3C3;
border:2px solid #1A1A1A;
}