.MainBody {
background:#F5F5F5;
margin-bottom:2px;
padding:1px;
border: 1px solid #82BCF4;
border-bottom-left-radius: 7px;
border-bottom-right-radius: 7px;
}
.MainBody li a {
color:#0000FF;
text-decoration:none;
}
.MainBody li a:hover {
color:#000000;
text-decoration:underline;
}
.page_title_text {
background:#DCDCDC;
font-size:120%;
text-align:center;
margin:5px auto;
padding:5px;
width:50%;
clear: both;
border-radius:7px;
}
.page_title_text img {
padding-right:7px;
width:40px;
height:40px;
vertical-align:middle;
}
.toplink {
float:left;
margin-top:10px;
display:inline-block;
}
div.menuiconcontainer {
float:left;
display:block;
cursor:pointer;
}
.bar1, .bar2, .bar3 {
width: 35px;
height: 5px;
background-color: #C3C3C3;
margin: 6px 10px;
transition: 0.4s;
display:block;
}
.ModuleList {
position:absolute;
background:#C0C0C0;
width:12%;
height:0%;
float:left;
margin-left:2%;
padding:0%;
top:50px;
opacity:0.9;
border-radius:20px;
transition: height .2s;
backdrop-filter: blur(2px);
}
ul.ListHolder{
margin:0;
padding:0;
}
.CloseModuleList {
position:absolute;
right:6px;
top:6px;
background:#1E1E1E;
color:#B2B2B2;
padding:2px;
padding-left:4px;
padding-right:4px;
border-radius:20px;
cursor:pointer;
}
.TopLogo {
font-size:280%;
padding:1%;
background:#1A1A1A;
color:#FFFFFF;
font-weight:bold;
padding:5%;
margin-bottom:12px;
border-radius:20px;
margin-top:7px;
display:none;
}
.Module {
background:#C0C0C0;
color:white;
display:block;
border-radius:10px;
text-decoration:none;
margin-bottom:5px;
padding:3px;
border:1px solid #404552;
padding-left:5px;
transition-property:background;
transition-duration:0.5s;
}
.Module:hover {
border:1px solid #1A1A1A;
background:#948F8F;
color:white;
padding-left:5px;
cursor:pointer;
}
.MenuList {
background:#DCDCDC;
display: inline;
width:30%;
border-radius:10px;
vertical-align:top;
margin-top:5px;
margin-right:5px;
}
.MenuList legend {
background:#C0C0C0;
color:#000000;
padding:3px;
padding-right:7px;
border-radius:7px;
}
.MenuList legend img {
width:40px;
height:40px;
padding-right:5px;
vertical-align:middle;
}
.MenuItem {
color:#8DCDEB;
text-decoration:none;
text-align:left;
padding:2px;
list-style-type:none;
}
.MenuItem:hover {
background:transparent;
text-align:left;
color:white;
}
.MenuList .CustomMenuList {
background:silver;
outline:thin outset silver;
text-align:center;
color:#000;
margin-bottom:3px;
}

.clearfix {
  overflow: auto;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}