header {
background:#4682B4;
padding:10px;
margin:5px;
margin-bottom:0px;
padding-bottom:7px;
border-top-left-radius:30px;
border-top-right-radius:30px;
}
header #Info {
display:inline;
padding:10px;
font-weight:bold;
color:white;
}
header #Info img {
padding-right:7px;
width:32px;
height:32px;
vertical-align:middle;
}
header #Info a {
color:white;
}
#ActionIcon {
display:inline;
float:right;
padding-left:10px;
padding-right:5px;
padding-bottom:2px;
margin-top:-5px;
font-weight:bold;
color:white;
height:28px;
object-fit: contain;
cursor:pointer;
}
header #ActionIcon img{
padding-right:7px;
width:32px;
height:32px;
}
header #ExitIcon {
display:inline;
float:right;
padding-left:10px;
padding-right:30px;
}
header #ExitIcon img {
height:32px;
width:32px;
}
header .FontSize {
font-weight:bold;
display:inline;
padding:3px;
color:#FFFFFF;
}
.ThemeChanger{
position:absolute;
right:10%;
}
.ScriptTitle {
font-weight:bold;
font-size:100%;
display:inline;
padding:10px;
}
.Themes {
font-size:80%;
}
#favourites {
background: url(images/descending.png) no-repeat right transparent;
background-size:contain;
overflow: hidden;
color:#D0DDED;
font-size: 80%;
font-weight:bold;
padding-top: 2px;
padding-bottom: 2px;
padding-left: 7px;
padding-right:32px;
border: solid 1px #fff;
border-radius: 15px;
margin: 1px;
-moz-appearance:none;
-webkit-appearance: none;
cursor:pointer;
}
.title_bar {
border-radius:13px;
font-size:150%;
font-weight:bold;
color:white;
margin:1px;
margin-bottom:5px;
padding:6px;
background:#4682B4;
}