.ShowModal {
position:absolute;
border-radius:23px;
padding:0px;
width:0%;
height:93%;
transition: width .5s;
background:#B0C4DE;
border:0px solid #4682B4;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
opacity:0.95;
z-index:9998;
}
.ShowScrollBar{
overflow:auto;
}
.HideScrollBar{
overflow:hidden;
}
.page_title_text {
display:none;
}
.TitleIcon {
float:left;
margin-left:3px;
margin-right:6px;
margin-top:-3px;
height:24px;
width:24px;
background-size:contain;
}
.footer_bar {
position:absolute;
bottom:2%;
border-radius:13px;
font-size:150%;
font-weight:bold;
color:white;
margin:1px;
margin-top:5px;
margin-bottom:5px;
padding:6px;
background:#4682B4;
width:98%;
}
.close_button {
float:right;
margin-right:10px;
cursor:pointer;
color:#FFFFFF;
font-weight:bold;
}
.ModalBody {
height:85%;
overflow: auto;
scrollbar-color: #BA5F62 #4682B4;
}
.footer_date {
float:right;
}
