div.error {
position:absolute;
top:0px;
display:block;
background:#FF0000 url('images/message-error.png') no-repeat 2px 5px;
color:#FBB2B2;
font-weight:bold;
border:1px solid #f5aca6;
padding-top:5px;
padding-bottom:5px;
padding-left:25px;
padding-right:25px;
height:80px;
opacity:1;
border-radius:10px;
transition: opacity .5s;
}
div.success {
position:absolute;
top:0px;
display:block;
background:#008000 url('images/message-success.png') no-repeat 2px 5px;
color:#90EE90;
font-weight:bold;
border:1px solid #a6ca8a;
padding-top:5px;
padding-bottom:5px;
padding-left:25px;
padding-right:25px;
height:80px;
opacity:1;
border-radius:10px;
transition: opacity .5s;
}
div.info {
position:absolute;
top:0px;
display:block;
background:#e3f7fc url('images/message-info.png') no-repeat 2px 5px;
border:1px solid #8ed9f6;
padding-top:5px;
padding-bottom:5px;
padding-left:25px;
padding-right:25px;
height:80px;
opacity:1;
border-radius:10px;
transition: opacity .5s;
}
div.warn {
position:absolute;
top:0px;
display:block;
background:#fff8c4 url('images/message-warning.png') no-repeat 2px 5px;
border:1px solid #f2c779;
padding-top:5px;
padding-bottom:5px;
padding-left:25px;
padding-right:25px;
height:80px;
opacity:1;
border-radius:10px;
transition: opacity .5s;
}
.MessageCloseButton {
margin-left: 15px;
color: #C8C8C8;
font-weight: bold;
float: right;
font-size: 20px;
line-height: 17px;
cursor: pointer;
transition: 0.3s;
}
.MessageCloseButton:hover {
color: #606060;
}
#MessageContainerFoot {
display: none;
}
