.MainBody {
background:white;
margin:5px;
padding:10px;
border: 1px solid #82BCF4;
border-radius: 7px;
}
.MainBody li a {
color:#0000FF;
text-decoration:none;
}
.MainBody li a:hover {
color:#000000;
text-decoration:underline;
}
.page_title_text {
padding-top:2px;
padding-bottom:2px;
font-size:18px;
color:black;
width:60%;
text-align:center;
margin:5px auto;
border: 0px black solid;
border-radius:16px;
clear: both;
}
.page_title_text img {
padding-right:7px;
width:48px;
height:48px;
vertical-align:middle;
}
.toplink {
float:left;
margin-top:10px;
display:inline-block;
}
div.menuiconcontainer {
float:left;
display:block;
cursor:pointer;
}
.bar1, .bar2, .bar3 {
width: 35px;
height: 5px;
background-color: #8A8A8A;
margin: 6px 10px;
transition: 0.4s;
display:block;
}
.ModuleList {
position:absolute;
float:left;
background:#686868;
white-space:nowrap;
text-align:left;
padding:10px;
width:12%;
border:0px solid #8DCDEB;
border-radius:7px;
margin:7px;
}
ul.ListHolder{
margin:0;
padding:0;
}
.CloseModuleList {
position:absolute;
right:6px;
top:6px;
background:#1A1A1A;
color:#FFFFFF;
padding:2px;
padding-left:4px;
padding-right:4px;
border-radius:20px;
cursor:pointer;
}
.TopLogo {
font-size:250%;
padding:1%;
background:#1A1A1A;
color:#FFFFFF;
font-weight:bold;
padding:5%;
margin-bottom:12px;
border-radius:20px;
margin-top:7px;
display:none;
}
li.Module a{
display:block;
background:#494C56;
color:#FFFF;
width:90%;
border-radius:10px;
text-decoration:none;
margin-bottom:2px;
padding:5px;
border:0px solid #404552;
padding-left:5px;
font-weight:normal;
cursor:pointer;
transition-duration:0.5s;
}
.Module a:hover {
display:block;
background:#1A1A1A;
color:#BFBFBF;
border-radius:10px;
text-decoration:none;
margin-bottom:2px;
padding:5px;
border:0px solid #404552;
padding-left:5px;
font-weight:normal;
transition-duration:0.5s;
}
.MenuList {
display: inline;
width:30%;
border-radius:10px;
margin-top:5px;
vertical-align:top;
margin-right:5px;
}
.MenuList legend {
}
.MenuList legend img {
width:40px;
height:40px;
padding-right:8px;
vertical-align:middle;
}
.MenuItem {
padding:2px;
list-style-type:none;
}
.MenuItem a{
color:#4D4D4D;
text-decoration:none;
text-align:left;
}
.MenuItem a:hover {
background:transparent;
text-align:left;
text-decoration:underline;
color:#2980F7;
}
.MenuList .CustomMenuList {
background:#686868;
border-bottom:thin solid #DADADA;
text-align:center;
color:white;
}
.clearfix {
  overflow: auto;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}