.ShowModal {
position:absolute;
border-radius:23px;
padding:0px;
margin-left:2%;
margin-top:1%;
width:0%;
height:91%;
transition: width .5s;
background:#FFFFFF;
border:0px solid #1A1A1A;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
opacity:0.95;
z-index:9999;
}
.ShowScrollBar{
overflow:auto;
}
.HideScrollBar{
overflow:hidden;
}
.page_title_text {
display:none;
}
.footer_bar {
border-radius:13px;
font-size:150%;
font-weight:bold;
color:white;
margin:1px;
margin-bottom:5px;
padding:6px;
background:#888888;
}
.close_button {
float:right;
margin-right:10px;
cursor:pointer;
color:#BFBFBF;
background:#1A1A1A;
font-weight:bold;
padding-left:4px;
padding-right:4px;
border-radius:16px;
}
.ModalBody {
height:85%;
overflow: auto;
scrollbar-color: #222222 #8A8A8A;
}
.footer_date {
float:right;
}