.MainBody {
background:#E0F3B1;
margin:3px;
padding:1px;
border: 1px solid #008000;
border-radius: 7px;
}
.MainBody li a {
color:#0000FF;
text-decoration:none;
}
.MainBody li a:hover {
color:#000000;
text-decoration:underline;
}
.page_title_text {
padding-top:4px;
padding-bottom:4px;
font-weight:700;
font-size:130%;
color:#008000;
background-color:#C9D392;
width:30%;
text-align:center;
margin:10px auto;
border-radius:13px;
clear: both;
}
.page_title_text img {
width:48px;
height:48px;
vertical-align:middle;
}
.toplink {
float:left;
}
div.menuiconcontainer {
float:left;
display:block;
cursor:pointer;
}
.bar1, .bar2, .bar3 {
width: 35px;
height: 5px;
background-color: #72824D;
margin: 6px 10px;
transition: 0.4s;
display:block;
}
.ModuleList {
position:absolute;
float:left;
background:#617C4F;
white-space:nowrap;
text-align:left;
padding-left:10px;
padding-right:10px;
padding-top:13px;
padding-bottom:13px;
width:12%;
border:1px solid #8DCDEB;
border-radius:17px;
margin:7px;
color:white;
}
ul.ListHolder{
margin:0;
padding:0;
}
.CloseModuleList {
position:absolute;
right:6px;
top:6px;
background:#72854B;
color:#FFFFFF;
padding:2px;
padding-left:4px;
padding-right:4px;
border-radius:20px;
cursor:pointer;
}
.TopLogo {
font-size:250%;
padding:1%;
background:#72854B;
color:#FFFFFF;
font-weight:bold;
padding:5%;
margin-bottom:12px;
border-radius:20px;
margin-top:7px;
display:none;
}
.Module {
width:0%;
background:#CAF17C;
list-style-type:none;
margin-bottom:3%;
margin-right:10%;
padding:4px;
border-radius:20px;
display:none;
cursor:pointer;
transition: width .5s;
}
.Module:hover {
background:#72854B;
color:#ECF8D5;
transition: width .5s;
}
.MenuList {
background:#E0F3B1;
display: inline;
width:30%;
border-radius:10px;
margin-top:5px;
vertical-align:top;
margin-right:5px;
}
.MenuList legend {
background:#C9D392;
padding:1px;
padding-left:5px;
padding-right:8px;
border-radius:17px;
}
.MenuList legend img {
padding-right:7px;
width:40px;
height:40px;
vertical-align:middle;
}
.MenuItem {
color:#836C16;
text-decoration:none;
text-align:left;
padding:2px;
list-style-type:none;
}
.MenuItem a {
color:#836C16;
}
.MenuItem:hover {
background:transparent;
text-align:left;
color:white;
}
.MenuList .CustomMenuList {
background:#C9D392;
outline:thin outset #5A5F00;
text-align:center;
color:#000;
}
.clearfix {
  overflow: auto;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}