header {
background:url(images/wood.jpg) #feb;
padding:10px;
padding-bottom:0px;
margin:5px;
margin-bottom:0px;
border-top-left-radius:15px;
border-top-right-radius:15px;
}
header #Info {
display:inline;
padding:10px;
}
header #Info img {
padding-right:7px;
width:32px;
height:32px;
vertical-align:middle;
}
header #Info a {
}
#ActionIcon {
display:inline;
float:right;
padding-left:10px;
padding-right:5px;
padding-bottom:2px;
margin-top:-5px;
font-weight:bold;
color:white;
height:28px;
object-fit: contain;
cursor:pointer;
}
header #ActionIcon img{
padding-right:7px;
width:32px;
height:32px;
}
header #ExitIcon {
display:inline;
float:right;
padding-left:10px;
padding-right:30px;
}
header #ExitIcon img {
width:32px;
height:32px;
}
header .FontSize {
color:#000000;
text-decoration:none;
display:inline;
font-weight:bold;
margin:2px;
}
.ThemeChanger{
position:absolute;
right:10%;
}
.ScriptTitle {
font-weight:bold;
font-size:100%;
display:inline;
padding:10px;
}
.Themes {
font-size:80%;
}
#favourites {
background: url(images/descending.png) no-repeat right transparent;
background-size:contain;
overflow: hidden;
color:#FFFFFF;
font-size: 80%;
font-weight:bold;
padding-top: 2px;
padding-bottom: 2px;
padding-left: 7px;
padding-right: 32px;
border: solid 1px #FFD980;
border-radius: 14px;
margin: 2px;
-moz-appearance:none;
-webkit-appearance: none;
cursor:pointer;
}
.title_bar {
border: 2px solid #FFD980;
border-radius:13px;
font-size:150%;
font-weight:bold;
color:white;
margin:1px;
margin-bottom:5px;
padding:6px;
background:url(images/desk.jpg) #feb;
}