.MainBody {
background:url(images/wood.jpg) #feb;
margin:5px;
margin-top:0px;
margin-bottom:0px;
padding:10px;
border: 0px solid #82BCF4;
}
.MainBody li a {
color:#0000FF;
text-decoration:none;
}
.MainBody li a:hover {
color:#000000;
text-decoration:underline;
}
.page_title_text {
color:#000;
font-weight:700;
text-align:center;
margin:0 auto;
padding:5px;
padding-top:10px;
margin-bottom:1px;
clear: both;
}
.page_title_text img {
padding-right:7px;
width:48px;
height:48px;
vertical-align:middle;
}
.toplink {
float:left;
margin-top:10px;
display:inline-block;
}
div.menuiconcontainer {
float:left;
display:block;
cursor:pointer;
}
.bar1, .bar2, .bar3 {
width: 35px;
height: 4px;
background-color: #FFD980;
margin: 2px 10px;
transition: 0.4s;
display:block;
}
.ModuleList {
position:absolute;
float:left;
background:url(images/wood.jpg) #feb;
white-space:nowrap;
text-align:left;
padding-left:10px;
padding-right:10px;
padding-top:3px;
width:12%;
border:0px solid #8DCDEB;
border-radius:20px;
margin-left:2%;
margin-top:2%;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
ul.ListHolder{
margin:0;
padding:0;
}
.CloseModuleList {
position:absolute;
right:6px;
top:6px;
background:#301F16;
color:#F6E8B9;
padding:2px;
padding-left:4px;
padding-right:4px;
border-radius:20px;
cursor:pointer;
}
.TopLogo {
font-size:250%;
padding:1%;
background:url(images/desk.jpg) #feb;
color:#FFFFFF;
font-weight:bold;
padding:5%;
margin-bottom:12px;
border-radius:20px;
margin-top:7px;
display:none;
}
.Module {
width:0%;
background:#transparent;
list-style-type:none;
margin-bottom:2%;
margin-right:10%;
padding:3px;
border-radius:20px;
border: 1px solid #330000;
display:none;
cursor:pointer;
transition: width .5s;
}
.Module:hover{
background:#330000;
color:#FBF2CB;
}
#MainMenu:hover {
color:#FBF2CB;
display:block;
transition: width .5s;
}
.MenuList {
display: inline;
width:30%;
border-radius:10px;
margin-top:5px;
vertical-align:top;
margin-right:5px;
}
.MenuList legend {
}
.MenuList legend img {
padding-right:7px;
width:48px;
height:48px;
vertical-align:middle;
}
.MenuItem {
color:#FFFFFF;
text-decoration:none;
text-align:left;
padding:2px;
list-style-type:none;
}
.MenuItem a {
color:black;
}
.MenuItem:hover {
background:transparent;
text-align:left;
color:white;
}
.MenuList .CustomMenuList {
background:#4682B4;
color:#FFF;
font-weight:700;
text-align:center;
padding:3px;
}
.clearfix {
  overflow: auto;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}